<div class="clearfix">
    <h1 class="pull-left">{{game.name}} - {{game.state}}</h1>

    <div ng-if="game.myPlayer.admin && game.state == 'lobby'" class="pull-left startGameBtn">
        <button ng-click="startGame()" tooltip-trigger="mouseenter" tooltip-placement="right" tooltip="{{game.players.length < minPlayers ? 'Not enough players' : ''}}" class="btn btn-success">Start game</button>
    </div>
</div>

<div id="playersList" ng-mouseover="showFactionIcons()" ng-mouseout="hideFactionIcons()" class="panel panel-default">
    <ul class="list-group {{playersListToggle}}">

        <li id="smallDevicesTitleBar" class="list-group-item" ng-click="togglePlayerList()">
            <div ng-show="{{!playerContextMenuVisibility}}">
                Select action<span class="playerContextMenuCaret caret pull-right"></span>
            </div>
        </li>

        <li class="list-group-item player animate-repeat player-state-{{factionHidden || player.faction}}"
            dropdown is-open="status.isopen"
            title="{{roleDescription[player.state]}}"
            ng-repeat="player in game.players">
            <div class="playerName btn-group dropdown-toggle">
                {{player.name}}<span ng-if="contextMenuAvailable()" class="playerContextMenuCaret caret pull-right"></span>
                <span ng-show="player.votes > 0" class="label" ng-class="'label-'+player.voteLevel">{{player.votes}}</span>
                <span class="glyphicon glyphicon-stop" ng-class="{'player-state-online': player.online, 'player-state-offline': !player.online}"></span>
            </div>
            <ul ng-if="contextMenuAvailable()" class="playerContextMenu dropdown-menu" role="menu">
                <li ng-if="game.myPlayer != player && game.state == 'day'"><a href ng-click="vote(player)">Vote</a></li>
                <li ng-if="game.myPlayer.faction == 'mafia' && game.state == 'night'"><a href ng-click="vote(player)">Kill</a></li>
                <li ng-if="game.myPlayer.faction == 'cop' && game.state == 'night'"><a href ng-click="identify(player)">Identify</a></li>
                <li ng-if="game.myPlayer.faction == 'doctor' && game.state == 'night'"><a href ng-click="heal(player)">Heal</a></li>
            </ul>
        </li>

    </ul>
</div>

<div id="chatContainer">
    <div id="log" class="form-control">
        <ul class="list-unstyled">
            <li ng-repeat="message in messageBuffer">
                <div ng-class="message.faction">
                    <p>{{message.date}} -</p>
                    <i>({{message.faction}})</i>
                    <b>{{message.player}}</b>: <message text="{{message.message}}" />
                </div>
            </li>
        </ul>
    </div>

    <form name="chatForm" class="form" id="chatForm" novalidate>
        <div id="sendChatMsgBtn">
            <input class="form-control btn btn-default"
                   tooltip-trigger="mouseenter"
                   tooltip-placement="top"
                   tooltip="{{!msgType ? 'Select chat room' : !msg ? 'Type a message' : ''}}"
                   type="submit" value="Send" ng-click="sendMsg()" />
        </div>
        <div id="chatRoomSelection" ng-class="chatForm.msgtype.$invalid ? 'has-error has-feedback' : 'has-success'">
            <select class="form-control" name="msgtype" id="msgtype" ng-model="msgType" required>
                <option value="" disabled selected>Select chat room</option>
                <option ng-if="game.myPlayer.faction != 'ghost'" value="villager">Villager Chat</option>
                <option ng-if="game.myPlayer.faction == 'mafia'" value="mafia">Mafia Chat</option>
                <option ng-if="game.myPlayer.faction == 'cop'" value="cop">Cop Chat</option>
                <option ng-if="game.myPlayer.faction == 'doctor'" value="doctor">Doctor Chat</option>
                <option ng-if="game.myPlayer.faction == 'ghost'" value="ghost">Ghost Chat</option>
            </select>
        </div>
        <div id="chatMsg" ng-class="chatForm.msg.$invalid ? 'has-error' : 'has-success'">
            <input class="form-control" type="text" autocomplete="off" name="msg" id="msg" ng-model="msg" size="64" required />
        </div>

    </form>
</div>